<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lt.vcs.baigiamasis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baigiamasis">
        <activity
            android:name=".CharacterSelectScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainGameMenuScreenActivity"
            android:exported="false" />
        <activity
            android:name=".TreasureRoomScreenActivity"
            android:exported="false" />
        <activity
            android:name=".PuzzleRoomScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LoadCharacterScreenActivity"
            android:exported="false" />
        <activity
            android:name=".InventoryScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreDungeonScreenActivity"
            android:exported="false" />
        <activity
            android:name=".CombatScreenActivity"
            android:exported="false" />
        <activity
            android:name=".CharacterInfoScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>